body {
 background: linear-gradient(navy, darkgoldenrod);
 background-repeat: no-repeat;
 margin: 0;
 font-family: Arial;
}
.nav{
    background-color: blue;
    height: 80px;
    border-style: solid;
    border-color: yellow;
}
.nav ul{
    float: left;
}
.nav ul li{
    float: left;
    padding: 20px 20px;
    list-style: none;
    transition: background .5s;
    -webkit-transition: background .5s;
    cursor: pointer;
}
.nav ul li:after{
    position: absolute;
    width: 100px;
    height: 0px;
    background-color: #0ff;
    bottom:0;
    left:0;
    transition: height .5s;
    -webkit-transition: height .5s;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 600;
}
.nav ul li:hover{
    background-color: #d0d;
}
.nav ul li:hover:after{
    left:0px;
    width:100;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}
.nav ul li:active {
    transform: translateY(4px);
}
.nav:hover .nav-content{
    display: block;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  position: absolute;
}

.footer {
    bottom: 0;
   width: 100%;
   height:7%;
   background-color: #000080;
   color: white;
   text-align: center;
}

.one a{
    color:orange;
}
p{
    color: white;
}
li{
    color: white;
}
.header{
    text-shadow: 2px 2px yellow;
    text-align: center;
}